<section class="cart-show">

  <header class="page-header">
    <h1>My Cart</h1>
  </header>
  <span>
    Oh, No! Your cart is empty... 
    <%= link_to 'How about adding a few products?', :products %>
  </span>

</section>